Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -modernize-concat-nested-namespaces,
  -modernize-use-nodiscard,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity

HeaderFilterRegex: 'src/(?!lib/).*'
FormatStyle: file
WarningsAsErrors: ''
