$highlight-color: rgb(0, 119, 204);
$warn-color: rgb(218, 69, 103);
$warn-color-light: rgb(255, 170, 170);
$sidebar-width: 20%;
$font-family: Helvetica, Arial, sans-serif;
$ttime: 0.3s;
$default-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

// layout

body {
    margin: 0;
}

#container {
    height: 100%;
    display: relative;
}

.plotview {
    height: 100%;
    width: 100% - $sidebar-width;
    position: relative;
    transition: width $ttime;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.plotview.nohist {
    width: 100%;
    transition: width $ttime;
}

#drawing {
    width: 100%;
    height: 100%;
}

// overlay

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(92, 92, 92, 0.685);
    z-index: 2;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: $font-family;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgb(46, 46, 46);
}

// history

.history {
    width: $sidebar-width;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    right: 0;
    transition: right $ttime;
    background-color: rgb(252, 252, 252);
}

.history.nohist {
    right: -$sidebar-width;
    visibility: hidden;
    transition: right $ttime, visibility $ttime;
}

.history-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8;
    cursor: pointer;
    position: relative;
    background-color: rgb(255, 255, 255);

    img {
        width: 100%;
        height: 12vw;
    }
    a {
        position: absolute;
        top: 0;
        right: 0;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        padding: 0px 4px 0px 0px;
        margin: -2px 0px 0px 0px;
        display: none;
    }
    a:hover {
        color: $warn-color;
    }

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        a {
            display: inline;
        }
    }
}

.history-selected {
    outline: rgba(0, 119, 204, 0.3) solid 3px;
}

// toolbar

#toolbar {
    float: left;
    position: absolute;
    right: 0;
    top: 0px;
    font-family: $font-family;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(253, 253, 254, 0.8);
    border-color: rgba(253, 253, 254, 0.8);
    border-radius: 2px;
}

#tb-tools > span {
    padding: 2px 2px 2px 2px;
    margin: 0px 2px 0px 2px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    & > a {
        margin: 0px -2px 0px -2px;

        &:hover {
            color: $highlight-color;
        }
    }
}

.icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    fill: rgba(0, 0, 0, 0.5);

    &:hover {
        fill: $highlight-color;
    }
}

.icon-warn:hover {
    fill: $warn-color;
}

.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        font-size: 12px;
        font-weight: normal;
        width: 80px;
        background-color: rgb(71, 71, 71);
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -40px;
        opacity: 0;
        transition: opacity 0.2s;

        &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(71, 71, 71) transparent;
        }
    }

    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.fade-out {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 0.5s, transform 0.5s step-end 0.5s;
}

.drop {
    position: relative;
    display: inline-block;
    height: 34px;
    ul {
        position: absolute;
        right: -2px;
        top: 20px;
        transition: all $ttime ease;
        transform: scale(0);
        transform-origin: top right;
        box-shadow: $default-shadow;
        padding: 0px;
        background-color: #fff;
        font-size: 16px;
        font-weight: bold;

        li {
            display: block;
            width: 100%;

            a {
                width: 100%;
                padding: 10px 14px 10px 12px;
                display: flex;
                white-space: pre;
                box-sizing: border-box;
                fill: rgba(0, 0, 0, 0.5);

                svg {
                    padding-right: 10px;
                    margin-top: -4px;
                    padding-bottom: 4px;
                }

                span {
                    position: relative;
                    top: 4px;

                    &.drop-kbd {
                        margin-left: auto;
                        padding-left: 12px;
                        color: rgba(0, 0, 0, 0.3);
                    }
                }

                &:hover {
                    background: #ebebeb;
                    color: $highlight-color;
                    svg {
                        fill: $highlight-color;
                    }
                }

                &.warn-hover:hover {
                    color: $warn-color;
                    fill: $warn-color;
                }
            }
        }
    }

}

.drop-open ul {
    transform: scale(1);
}

.notransition {
    transition: none !important;
}


// modal

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 8 20 20 20;
    width: 80%;
    height: 65%;
}

.export-preview {
    text-align: center;
    height: 80%;
    margin: 40 0 20 0;

    img {
        height: 100%;
        box-shadow: $default-shadow;
    }
}

#exp-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.num-input,
select {
    padding: 8px 16px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.invalid-input {
    background-color: $warn-color-light;
}

.num-input:hover,
.num-input:focus {
    border-color: $highlight-color;
    outline-color: $highlight-color;
}

.but-input {
    background-color: #888;
    color: white;
    padding: 8px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: $highlight-color;
    }
}

.export-options {
    padding-bottom: 32;
    font-family: $font-family;
    font-size: 16px;
}
