<div id="container">
    <div id="overlay">
      <div id="overlay-text"></div>
    </div>
    <%- include exportDialog %>
    <div id="gallery-container">
    </div>
    <div class="plotview" id="plotview">
      <%- include toolbar %>
      <img id="drawing" crossorigin="anonymous"></img>
    </div>
    <div class="history" id="sidebar"></div>
  </div>