<div id="exp-modal" class="modal">
    <div class="modal-content">
        <span id="exp-modal-close">&times;</span>

        <div class="export-preview">
        <img id="exp-image" src="<%=require('./assets/plot-none.svg')%>">
        </div>

        <div class="export-options">
            <div style="float: left;">
                Size: <input type="text" id="ie-width" class="num-input" value="800" style="width: 80;">
                <span style="vertical-align: middle; font-size: 24; color: #888;">&times;</span>
                <input type="text" id="ie-height" class="num-input" value="600" style="width: 80;">
                <span style="vertical-align: middle; font-size: 24; color: #888;">~</span>
                <input type="text" id="ie-scale" class="num-input" value="100" style="width: 80;"> %
            </div>

            <div style="float: right;">
                <input id="ie-btn-open" class="but-input" type="button" value="Open">
                <input id="ie-btn-download" class="but-input" type="button" value="Download">
            </div>

            <div style="float: right; padding-right: 30;">
                <!--<span style="padding-right: 20; font-size: 16; color: #888;">~ 777 MB</span>-->
                <select id="ie-format"></select>
            </div>
        </div>
    </div>
</div>