<div id="exp-modal" class="modal">
    <div class="modal-content">
        <span id="exp-modal-close">&times;</span>

        <div class="export-preview">
            <img id="exp-image" src="<%=require('./assets/plot-none.svg')%>">
        </div>

        <div class="export-options">
            <div class="export-tools" style="float: left;">
                Size: 
                <input type="text" id="ie-width" class="num-input" value="800">
                <span>&times;</span>
                <input type="text" id="ie-height" class="num-input" value="600">
                <span>~</span>
                <input type="text" id="ie-scale" class="num-input" value="100"> 
                <span style="font-size: 20;">%</span>
            </div>


            <div class="export-tools" style="float: right;">
                <select id="ie-format"></select>
                <input id="ie-btn-open" class="but-input" type="button" value="Open">
                <input id="ie-btn-download" class="but-input" type="button" value="Download">
            </div>

        </div>
    </div>
</div>